<div class="row mt-100">
  <div class="col-sm-offset-4 col-sm-4">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h1 class="txtDarkGreen centrar">Inciar Sesión</h1>
      </div>

      <%= form_tag sessions_path do %>

        <div class="panel-body">
          <% flash.each do |name, msg| %>
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>
          <% flash = nil %>
          <div>

            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= text_field_tag :document, params[:document], class:"form-control", placeholder: "Documento" %>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <%= password_field_tag :password, nil, class:"form-control", placeholder: "Contraseña" %>
            </div>

          </div>
        </div>

        <div class="panel-footer container-fluid">
          <%= submit_tag "Ingresar", class:"btn btn-default full-width", style:"float: right" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
