<div>
  <h1>Paso 2</h1>
  <h3>Creación de objetivos</h3>
  <p align="justify">
    Chachara
  </p>

  <div>
    <% if @goals == [] %>
      <p>Aún no tienes objetivos.</p>
    <% else %>
      <% @goals.each do |g| %>
        <div>
          <%= g.perspective %>
          <%= link_to "Ver", %>
        </div>
      <% end %>
      <%= @goals.get_total_weight %>
    <% end %>
    <%= link_to "Crear", new_goal_path(:g_type => @g_type), class:"btn" %>
    <%= link_to "Aceptar", evaluated_step_two_accept_path(:g_type => @g_type), class:"btn" %>
  </div>
</div>
