<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script>
      $(document).ready(function(){
        $('#field').hide();
        $("#periods").change(function(){
          var x = document.getElementById("periods").value;
          var field = $('#field');
          $('#metas').empty();
          for(var i=0; i<x; i++){
            $('#metas').append(field.clone().show());
          }
        });
      });
    </script>
  </head>

  <body>

    <%= form_with(model: goal, local: true, class:"") do |g| %>
    <% if goal.errors.any? %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <b><%= t('activerecord.errors.template.header',
  :model => User.model_name.human, :count => goal.errors.count) %></b>
        <b><%= pluralize(goal.errors.count, "error") %>
          prohibited this goal from being saved:</b>
        <ul>
          <% goal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= g.label "Tipo de Objetivo" %>
      <%= g.select :perspective_id, options_for_select([["Área", 1], ["Personal", 2]]), {}, {:class => 'form-control' } %>

      <%= g.label "Descripción" %>
      <%= g.text_field :description, class:"form-control" %>

      <%= g.label "Indicador" %>
      <%= g.select :indicator, options_for_select([["Ascendente", 0], ["Descendente", 1]]), {}, {:class => 'form-control' } %>

      <%= g.label "Fórmula" %>
      <%= g.text_field :formula, class:"form-control" %>

      <%= g.label "Unidad de medida" %>
      <%= g.collection_select(:measure_id, Measure.all, :id, :name, {}, {:class=>"form-control"}) %>

      <%= g.label "Peso" %>
      <%= g.number_field :weight, class:"form-control" %>

      <%= g.label "Periodos" %>
      <%= g.select :num_periods, options_for_select([["Selecciona los períodos", 0], ["Mensual", 12], ["Bimestral", 6], ["Trimestral", 4], ["Semestral", 2], ["Anual", 1]]), {}, { :id=>"periods", :class => 'form-control' } %>

      <%= g.hidden_field :evaluation_id, :value => @evaluation.id %>

      <h3>Metas</h3>
      <div id="field">
        <%= g.fields_for :periods do |p| %>
          <%= p.label "Propuesto" %>
          <%= p.number_field :proposed, class:"form" %>
          <%= p.hidden_field :reached, :value => -1 %>
        <% end %>
      </div>
      <div id="metas"></div>

      <br>
      <div class="row">
        <div class="col-lg-offset-10 col-lg-2">
          <%= g.submit "Aceptar", class:"btn btn-default" %>
        </div>
      </div>

    <% end %>
  </body>
</html>
