<body class="fondo">
  <div class="row mt">
    <div class="col-lg-offset-1 col-lg-10 colEvaluacion">
      <h1 class="titulo">Aprobación</h1><br>
      <h4>Objetivos de <%= @user.name %></h4>

      <div>
        <p align="justify">
        </p>
      </div>

      <div>
        <% Perspective.all.each do |p| %>
          <div>
            <h4><%= p.name %></h4>
            <% @user.get_goals_type(p.id).each do |g| %>
              <div>
                <p><%= g.description %> <%= g.weight %>%</p>
              </div
              <br>
            <% end %>
            <h4>Total: <%= @user.get_goals_type(p.id).get_total_weight %>%</h4>
          </div>
        <% end %>


        <%= form_for @evaluation do |f| %>
          <%= f.label "Comentario" %>
          <%= f.text_area :comment %>

          <%= f.label "Aprobar" %>
          <%= f.select :approved, options_for_select([["Si", true], ["No", false]]) %>

          <%= f.submit "Aceptar" %>
        <% end %>
      </div>
    </div>
  </div>
</body>
