<body class="fondo">
  <div class="row mt">
    <div class="col-lg-offset-1 col-lg-10 colEvaluacion">
      <h1 class="titulo">Aprobación</h1><br>
      <h4>Objetivos de <%= @user.name %></h4>

      <div>
        <p align="justify">

        </p>
      </div>

      <div>

        <table class="table">
          <thead>
            <tr class="success">
              <th>Tipo de Objetivo</th>
              <th>Objetivo</th>
              <th>Indicador</th>
              <th>Unidad de Medida</th>
              <th>Tipo de Indicador</th>
              <th>Peso</th>
            </tr>
          </thead>
          <tbody>
            <% Perspective.all.each do |p| %>
              <% @user.get_goals_type(p.id).each do |g| %>
                <tr>
                  <td><%= p.name %></td>
                  <td><%= g.description %></td>
                  <% if g.indicator == 0 %>
                    <td>Ascendente</td>
                  <% else %>
                    <td>Descendente</td>
                  <% end %>
                  <td><%= Measure.find(g.measure_id).name %></td>
                  <td><%= g.formula %></td>
                  <td><%= g.weight %>%</td>
                </tr>
              <% end %>
              <tr class="success">
                <td><b>Total <%= p.name %></b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @user.get_goals_type(p.id).get_total_weight %>%</td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= form_for @evaluation do |f| %>
          <%= f.label "Comentario" %>
          <%= f.text_area :comment %>

          <%= f.label "Aprobar" %>
          <%= f.select :approved, options_for_select([["Si", true], ["No", false]]) %>

          <%= f.submit "Aceptar" %>
        <% end %>
      </div>
    </div>
  </div>
</body>
